@linkColor: #38817A;
@bgColor: #F9F8EB;
@fontColor: #33425B;
@lightColor: #87DFD6;

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  #app {
    height: 100%;
  }
  ul{
    li{
      list-style: none;
    }
  }
  a{
    text-decoration: none;
    color: @linkColor;
  }
  h1,h2,h3,h4,h5,h6,p {
    color: @fontColor;
  }
}